.screen-header__icons__cog {
  left: 70px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 100px 0;
  display: block; /*span은 inline이기 때문에 margin이 적용되지 않으므로 block요소로 변경*/
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between; /*open-post는 2개의 열로 이뤄져있는데 (왼쪽 내용, 오른쪽 사진) 각각이 맨 끝으로 정렬되도록*/
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase; /**모든 단어를 대문자로 변경*/
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  /*다른 divider 있을 수 있으므로 한정짓기*/
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: var(--pink);
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute; /*사진 위로 글씨를 옮기기 위해서, 부모요소 relative인지 한 번 더 확인*/
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: var(--pink);
    transform: scale(2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
